$tomato: hsl(4, 100%, 67%);
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0deg 0% 100%);

$colors: (
  "primary": (
    "tomato": $tomato,
  ),
  "neutral": (
    "dark-slate-grey": $dark-slate-grey,
    "charcoal-grey": $charcoal-grey,
    "grey": $grey,
    "white": $white,
  ),
);
